@font-face {
    font-family: "Gotham";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/gotham/GothamSSm-Book.eot");
    src: url("../fonts/gotham/GothamSSm-Book-.eot#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-Book.woff") format("woff"), url("../fonts/gotham/GothamSSm-Book.ttf") format("truetype");
}
@font-face {
    font-family: "Gotham";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/gotham/GothamSSm-Medium.eot");
    src: url("../fonts/gotham/GothamSSm-Medium-.eot#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-Medium.woff") format("woff"), url("../fonts/gotham/GothamSSm-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Gotham";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/gotham/GothamSSm-Light.eot");
    src: url("../fonts/gotham/GothamSSm-Light-.eot#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-Light.woff") format("woff"), url("../fonts/gotham/GothamSSm-Light.ttf") format("truetype");
}

h1, h2, h3, p, li {
    font-family: $gotham;
}

ul li {
    color: $text
}

strong { font-weight: bold; }

.main-list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin-bottom: 2em;
}
    #fadein {
        opacity: 0;
    }
    @media screen and (max-width:500px) {
        #fadein {
            opacity: 1;
        }
    }